    /*注释部分主要是css动画实现的解释*/

body,
h1,
h2,
div,
p,
img,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Hiragino Sans GB W3", sans-serif;
    font-size: 62.5%;
}

li {
    list-style-type: none;
}


/*格式声明*/

#wrap {
    width: 100%;
    max-width: 640px;
    background: #29bde0;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    /*首页部分溢出隐藏*/
}

#nav {
    width: 63.75%;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    /*相对首页的导航菜单绝对定位*/
    /*	z-index: 0;重叠显示优先级*/
}

#nav li {
    color: #29bde0;
    font-size: 3em;
    padding: 4.9% 0 4.9% 0;
    border-bottom: 1px solid #c9c9c9;
    text-indent: 24.5%;
    /*首行缩进*/
}

#nav li img {
    width: 5.88%;
    max-width: 24px;
    float: right;
    margin-right: 12.255%;
    /*此处图片需缩放*/
}

.notice {
    background: url(images/notice.png) no-repeat 8.33%;
    background-size: 9.8%;
}

.set {
    background: url(images/set.png) no-repeat 8.33%;
    background-size: 9.8%;
}

.help {
    background: url(images/help.png) no-repeat 8.33%;
    background-size: 9.8%;
}

.about {
    background: url(images/about.png) no-repeat 8.33%;
    background-size: 9.8%;
}


/*导航菜单格式*/

#main {
    background-color: #f0f0f0;
    position: relative;
    transition: 0.5s ease-in-out;
    /*规定以慢速开始和结束的过渡效果*/
    padding-bottom: 7.8%;
}

.header {
    background-color: #29bde0;
    padding: 4.3% 0 4.3% 3.125%;
}

.header img {
    width: 6%;
    max-width: 34px;
}

.header label {
    cursor: pointer;
    /*鼠标呈现指针*/
}

#header {
    display: none;
    /*将id为header的checkbox复选框隐藏*/
}

#header:checked ~ #main {
    transform: translateX(63.75%) translateY(75px);
}


/*实现首页的滑动，X，Y为滑动距离*/

.title {
    width: 89.06%;
    margin: 2.5% auto;
    padding: 3.75% 0;
    border: 1px solid #c9c9c9;
    background: #fff;
    text-align: center;
}

.nextgray {
    float: right;
    margin-right: 2.456%;
}

.title h1 {
    color: #9a9a9a;
    font-size: 3.484em;
}

.explain {
    width: 89.06%;
    margin: 0 auto;
    border: 1px solid #c9c9c9;
    background: #fff;
    text-align: center;
}

.game {
    border-bottom: 2px solid #fbb435;
}

.game h1 {
    color: #fbb435;
    font-size: 3.774em;
    padding: 5.26% 0;
}

.mode {
    width: 81.37%;
    margin: 5.26% auto;
    background: #69d1e9;
}

.mode h2 {
    color: #fff;
    font-size: 3.208em;
    padding: 9.122% 0;
}

.explain p {
    color: #787878;
    font-size: 2.453em;
}

.next {
    width: 4.9%;
    max-width: 28px;
    float: right;
    margin-top: 66%;
    margin-right: 1.579%;
}

.dot {
    padding-top: 5.26%;
}

@media screen and (max-width: 540px) {
    html {
        font-size: 80%;
    }
