/*注释部分主要是css动画实现的解释*/
body,h1,h2,div,p,img,ul,li{
	margin: 0;padding: 0;
}
body{
	font-family: "Hiragino Sans GB W3",sans-serif;
}
li{
	list-style-type: none;
}
/*格式声明*/
#wrap{
	width: 100%;
	max-width: 640px;
	background: #29bde0;
	margin: 0 auto;
	position: relative;
	overflow: hidden;/*首页部分溢出隐藏*/
}
#nav{
	width: 63.75%;
	background-color: #ffffff;
	position: absolute;
	left: 0;top: 0;bottom: 0;/*相对首页的导航菜单绝对定位*/
/*	z-index: 0;重叠显示优先级*/
}
#nav li{
	color: #29bde0;
	font-size: 30px;
	padding: 20px 0 20px 0;
	border-bottom:1px solid #c9c9c9;
	text-indent: 100px;/*首行缩进*/
}
#nav li img{
	float: right;
	margin-right: 50px;
}
.notice{
	background: url(images/notice.png) no-repeat 34px;
}
.set{
	background: url(images/set.png) no-repeat 34px;
}
.help{
	background: url(images/help.png) no-repeat 34px;
}
.about{
	background: url(images/about.png) no-repeat 34px;
}
/*导航菜单格式*/
#main{
		background-color:#f0f0f0;
		position: relative;
		transition: 0.5s ease-in-out;/*规定以慢速开始和结束的过渡效果*/
		padding-bottom: 50px;
}

.header{
	background-color: #29bde0;
	padding:27.5px 0 27.5px 20px;
}
.header img{
	width: 6%;
}
.header label{
	cursor: pointer;/*鼠标呈现指针*/
}
#header{
	display: none;/*将id为header的checkbox复选框隐藏*/
}
#header:checked ~ #main {transform: translateX(63.75%) translateY(75px);}/*实现首页的滑动，X，Y为滑动距离*/
.title{
	width: 89.06%;
	margin: 16px auto;
	padding:24px 0; 
	border:1px solid #c9c9c9;
	background: #ffffff;
	text-align: center;
}
.nextgray{
	float: right;
	margin-right: 14px;
}
.title h1{
		color:#9a9a9a;
		font-size: 34.84px;
}

.explain{
	width: 89.06%;
	margin: 0 auto;
	border:1px solid #c9c9c9;
	background: #ffffff;
	text-align: center;
}

.game{
	border-bottom: 2px solid #fbb435; 
}
.game h1{
	color: #fbb435;
	font-size: 37.74px;
	padding: 30px 0;
}
.mode{
	width: 81.37%;
	margin: 30px auto;
	background: #69d1e9;
}
.mode h2{
	color: #ffffff;
	font-size: 32.08px;
	padding: 52px 0;
}
.explain p{
	color: #787878;
	font-size: 24.53px;
}
.next{
	float: right;
	margin-top:405px;
	margin-right: 9px;
}
.dot{
	padding-top: 30px;
}